/* reset : mettre à 0 toutes les propriétés du navigateur */
html{ 
    font-size: 62.5%;
    
    /* 
    font et taille de la police de caractères 
        respecter 62.5% * 16 = 10.00 rem = root em
        *16 car base 16 norme des navigateurs 
        Une seule valeur  
    */
}
 body{
     font: 1.6rem sans-serif; /* taille + police 1.6rem*/
     margin: 0;
     letter-spacing: 0.1rem; /* 1px*/
     line-height: 1.6; /* 16px */
     background-color: #2b2a33;
    }
 h1,h2,h3,p,ul{ /* contexte de balises ayant les mêmes propos */
    margin: 0;
    padding: 0;
    font-weight: normal;
    list-style: none;
}
button{
      padding: 0;
      background-color: transparent;
      font-size: inerhit;
      border: 0;

}
a{
     text-decoration: none;
     color: rgb(162, 155, 254);


}
/* theme css */

header > h1{
       background-color: rgb(162, 155, 254);
       text-align: center;
       line-height: 8rem;
       font-weight:bolder;
       font-size: 4rem; /* modifie taille du titre */
       color: #fff;
}
header > h1 span{
    vertical-align: 0.2rem; /* 2px */
}
section{
    max-width: 100rem; /* 1200px */
    margin: 5rem auto;
    background-color: #42414d;
    padding: 1rem;
}
section h2,

section p{
    background-color: #2b2a33;
    color: inherit;
    padding: 1rem;
}
section p{
    margin-top: 1rem;
}

section p img{
    display: inline-block;
    width: 100%;
    object-fit: cover;
}

footer *{
    text-align: center;
}
